@import '../styles/mixins';
@import '../styles/variables';

.footer {
  background-color: #fff;
  padding: 3rem 1rem;
  font-family: 'Arial', sans-serif;
  color: #1d1d1d;
  border-top: 1px solid #eee;
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 140px;
  }

  @include mobile {
    text-align: center;
  }
}

.logoSection {
  flex: 1;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    @include mobile {
      justify-content: center;
    }

    img {
      height: 28px;
      width: auto;
    }

    strong {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  address,
  a,
  p {
    display: block;
    font-size: 0.9rem;
    margin: 0.3rem 0;
    color: #333;
  }
}

.linksSection {
  flex: 1;
  gap: 50px;

  h4 {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 0.88rem;
      margin-bottom: 0.3rem;
      color: #333;
    }
  }

  @include desktop {
    display: flex;

  }

  @include mobile {}
}

.column {
  width: 166px;

  @include mobile {
    margin: auto;
  }
}

.socialIcons {
  display: flex;
  gap: 1rem;

  span {
    width: 30px;
    height: 30px;
    background-color: #e9e9ef;
    border-radius: 50%;
  }
}

.bottom {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #888;

  @include mobile {
    text-align: center;
  }
}

.chatButton {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  background: #e7d7fc;
  color: #6a2ed4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
}